.container {
    width: 50vw;
    
    margin: 0 auto;
    padding: 30px 0;

    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    
    width: 80%;
    margin: 0 auto;

    padding: 10px;
    
}

.inputContainer > * {
    text-align: left;
}

.inputContainer > input {
    padding: 10px;
    border: 0;
    /* border-radius: 4px; */
    border-bottom: 1px solid #111134;

    margin: 5px 0;

    font-size: 1em;

    transition: .4s all;
}

.inputContainer > input:focus,
.inputContainer > input:hover  {
    outline: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #111134;
    background: #ccc;

    transition: .4s all;
}

.submitButton {
    border-radius: 5px;
    width: 80%;
    padding: 20px 10px;
    
    border: 0;
    background: #111134;
    color: #fff;

    margin-top: 10px;

    transition: 1s all;
}

.submitButton:hover {
    cursor: pointer;
    background: #ccc;
    color: #272778;
}

.submitButton:focus {
    background: #fff;
    color: #111134;
    border: 1px solid #000;
}

.submitButton:active {
    background: #000;
    color: #AFAFFF;

    transition: none;
}

@media (width < 700px) {
    .container{
        width: 100vw;
        /* padding: 30px 0; */
    }
}