body {
    padding: 0px 0;
    background: #000000;
    color: #9bc8eb;
}

h1 {
    text-align: left;
    /* text-decoration: 3px underline #000; */
}

.cancelButton {
    position: relative;
    top: 2%;
    left: 80%;
    border: 0;
    font-size: 1.5em;
}

@media(width > 400px) {
    h1 {
        text-align: center;
        padding: 50px 0 0 0 ;
    }
}