.navContainer {
    padding: 0 2vw 0 0;
}

.headerNavButton {
    margin: 0 2.5px;

    padding: 20px;

    border-radius: 100px;
    border: 0;

    font-size: min(3vw, 15px);

    transition: 1s all;
}

.buttonSeleccionado {
    background: #000;
    color: #6767FF;
 
    transition: 1s background-color, color;
}

.headerNavButton:hover {
    cursor: pointer;

    background:#000;
    color: #fff;

    transition: 1s all;
}


