.texto {
    background: #000;
    color: #fff;

    padding: 20px;

    border-radius: 5px;
}

.submit {
    animation: 2s infinite submitAnimation;
}
@keyframes submitAnimation {
    0% {color: #fff}
    50% {color: #333}
    100% {color: #fff}
}


.success {
    background: #2bff00;
    color: #fff;
}


.error {
    background: #ff0000;
    color: #fff;
}