.texto {
    width: 60%;
    
    background: #AFAFFF;
    color: #111134;
    
    padding: 5px;
    margin: 10px auto;

    border-radius: 15px;
    border: 1px solid #111134;
}

.submit {
    animation: 2s infinite submitAnimation;
}
@keyframes submitAnimation {
    0% {background: #fff}
    50% {background: #AFAFFF}
    100% {background: #fff}
}


.success {
    border: 1px solid #62c908;
    background: rgba(43, 255, 0, 0.152);
    color: #62c908;
}


.error {
    border: 1px solid #c92508;
    background: #c9250820;
    color: #c92508;
}