
.tableContainer {
    overflow: auto;
    scrollbar-color: #111134 transparent;
    scrollbar-width: thin;

    border: 1px solid #777;
    border-radius: 5px;

    /* width: 100%; default es 100% */
    margin: 10px auto;

    font-size: 13px;

    text-align: center;

}

.tableContainerLoaded {
    box-shadow: 1px 1px 15px #111134;
    
    transition: 1s all;
}

/* .tableContainerLoading {
    background: #000;
    color: #fff;
    cursor: wait;
    transition: 1s all;
} */
.tableContainerLoading * {
    background: #000;
    color: #fff;
    cursor: wait;
    transition: 1s all;
}

.tableContainerLoading :global(.tableProductSelected), .tableContainerLoading :global(.tableProductSelected) * {
    background: #fff !important;
    color: #000 !important;

    transition: none !important;
}

.tableContainer > table {
    border-spacing: 0px;

    border-collapse: collapse;

    width: 100%;
}

.tableContainer > table > thead {
    background: #111134;
    color: #fff;
}

.tableContainer > table > thead > tr > th {
    /* min-width: 100px; */
    width: 20%;

    box-sizing: border-box;
    
    padding: 0.5vw !important;

    font-weight: 100;

    /* border: 1px solid #555; */
}

.tableContainer > table > thead > tr > th,
.tableContainer > table > tbody > tr > td {
    padding: 0.5vw 0;
 }


.tableContainer > table > tbody > tr > td {
    border-bottom: 1px solid #888;
}


.tableContainer table > tbody > tr > td {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.tableContainer table > thead > tr > th { 
    width: fit-content;
}






@media (width < 700px) {
    /* .tableContainer {
        font-size: 10px !important;
    } */

    .tableContainer > table > thead > tr > th,
    .tableContainer > table > tbody > tr > td {
        max-width: min-content !important;
        width: 10vw !important;
        min-width: fit-content !important;
    }
}

@media (width < 500px){
    .tableContainer{
        font-size: 10px !important;
    }
}
