.container {
    height: 71.5vh;
    font-size: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (width < 700px) {
    .container {
        height: fit-content;
    }

}