.mainContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* En teoría desde acá puedo setear el height general del Header */
    max-height: 71.6vh;
    height: 71.6vh;

    background: #ddd;
}

.question {
    margin: 0;
    padding-bottom: 70px;
}

.button {
    margin: 0 20px;
    padding: 20px 40px;

    background: #ddd;
    border: 0;
    border-radius: 30px;
    font-size: 1em;

    transition: 1s all;
}

.button:hover {
    cursor: pointer;
    background: #9A9AFF;
    color: #000;

    transition: 1s all;
}

.button:active {
    background: #000;
    color: purple;
    
    transition: none;
}

.acceptButton {
    color: #fff;
    background: #4040fe;
}

.fetchStatusContainer{
    width: 100%;
}

@media (width < 600px ) {
    .mainContainer {
        /* max-height: 51.5vh;
        height: 51.5vh; */
    }
}

