.container{
    display: flex;
    flex-direction: column;
    
    width: 80%;
    

    padding: 10px !important;
    padding-bottom: 9px !important;
}

.container > input {
    padding: 6px;
    border: 0;
    /* border-radius: 4px; */
    border-bottom: 1px solid #111134;

    margin: 10px 0 !important;
    margin-top: 11px !important;

    font-size: 1em;

    transition: .4s all;
}

.container > input:focus,
.container > input:hover  {
    outline: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #111134;
    background: #ccc;

    transition: .4s all;
}

.container div {
    margin-bottom: 6px !important;
}

.container div > label, .container div span {
    padding: 8px 2%;
    
    border-radius: 4px !important;

    transition: .1s font-weight;
}

@media(width < 950px){
    .container div > label, .container div span {
        font-size: 13px;
    }
}
@media(width < 750px){
    .container div > label, .container div span {
        font-size: 12px;
    }

    .container div label:hover, 
    .container div span:hover {
        font-size: 11.5px;
    }
}
@media (width < 700px){
    .container div > label, .container div span {
        font-size: 15px;
    }

    .container div label:hover, 
    .container div span:hover {
        font-size: 15px;
    }
}
@media (width < 400px){
    .container div > label, .container div span {
        display: inline-block;
        width: 80%;
    }
}

.container label {
    background: #111134;
    color: #fff;
}

.container div label:hover, 
.container div span:hover{
    cursor: pointer;

    font-weight: 900;

    transition: .1s font-weight;
}


