.navContainer {
    padding: 0 2vw 0 0;
}

.headerNavButton {
    margin: 0 2.5px;

    padding: 20px;

    border-radius: 100px;
    border: 0;

    font-size: min(3vw, 15px);
    background: transparent;
    color: #fff;

    transition: 1s all;
}

.buttonSeleccionado {
    background: #fff;
    color: #000;
 
    transition: 1s background-color, color;
}

.headerNavButton:hover {
    cursor: pointer;

    background:#aaa;
    color: #272778;

    transition: 1s all;
}

.headerNavButton:active {
    background: #000;
    color: #AFAFFF;

    transition: none;
}


/* Esta media query va en conjunto con la del Header */
@media (width < 700px) {
    .navContainer {
        display: flex;
        flex-direction: column;

        height: fit-content;
        max-height: fit-content;

        width: 100%;
    }

    .headerNavButton {
        width: 100%;
        margin: 5px;
    }

}

