.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-height: 16.5vh;
    height: 16.5vh;

    position: sticky;
    top: 0;

    padding: 0 20px;

    color: #fff;
    background: #111134;
}

.websiteBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.websiteBanner > h1 {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    

    font-size: min(4vw, 25px);
}

.websiteBanner > img {
    width: 20vw;
    max-width: 90px;
}

/* A los 700 px se rompe el Header,
hace falta media query ahí. */

@media (width < 700px) {
    .headerContainer {
        flex-direction: column;
        max-height: fit-content;
        height: fit-content;
        padding: 20px;
    }

    .websiteBanner {
        flex-direction: column;
        padding-bottom: 20px;
    }

}

/* El height en pantallas altas no alcanza */
/* @media (height > 650px) {
    .headerContainer {
        max-height: 21.5vh;
        height: 21.5vh;
    }
} */

/* @media 
    (width > 300px) 
and (width < 600px) 
and (height > 650px)
and (height < 920px) {
    .headerContainer {
        max-height: 28.5vh;
        height: 28.5vh;
    }
} */