.containerListaProducto {
    width: 40%;
    height: 300px;
}
/* lo dejo así porque me es más fácil testear con una pantalla mobile, 
después lo hago bien */
@media (width <= 400px){
    .containerListaProducto {
        width: 100%;
        background: rgb(0, 0, 0);
        color: purple;
        height: 300px;
        padding: 5% 0;
    }
}