.inputContainer {
    display: flex;
    flex-direction: column;
    
    width: 80%;
    margin: 0 auto;

    padding: 10px;
    
}

.inputContainer > * {
    text-align: left;
}

.inputContainer > input {
    padding: 10px;
    border: 0;
    /* border-radius: 4px; */
    border-bottom: 1px solid #111134;

    margin: 5px 0;

    font-size: 1em;

    transition: .4s all;
}

.inputContainer > input:focus,
.inputContainer > input:hover  {
    outline: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #111134;
    background: #ccc;

    transition: .4s all;
}