.container {
    display: flex;
    flex-direction: row;

    /* justify-content: center; */
    align-items: center;
    
    min-height: 71.5vh;
    height: fit-content;

}


@media (width < 700px) {
    .container {
        height: fit-content;
    }

}