.appContainer {
    display: flex;
    flex-direction: row;
    max-height: 100vh;

    /* esto lo pongo porque sale un scrollbar, a pesar de que todos los containers tienen el mismo height. 
    Ej: <body> tiene height: 606px, <div #root> tambien, <nav> y Pantalla tambien, los <div> adentro de Pantalla tambien.
    Es decir, no hay razon para que salga el scrollbar. 
    Tampoco hay paddings o margins que provoquen un overflow. */
    overflow: hidden;
}

/* :nth-child(1) es el componente Pantalla. Uso nth-child(1) porque el elemento puede variar (es el resultado de una funcion). Y no uso clases, porque tendría que poner la clase dentro del componente en sí, y por lo tanto tendría que armar un CSS para cada componente Pantalla en específico (que de hecho lo tengo que hacer, pero POR AHORA prefiero hacer esto aca).*/
.appContainer:nth-child(1){
    max-height: 100vh !important;

    color: rgb(0, 96, 128);
}
::selection{
    background: #b7ff00;
    color: #000;
}

/* Este es el div adentro del <div> container de Pantalla. */
.appContainer:nth-child(1) > div {
    display: inline-block;
    max-height: 100vh;
    overflow: hidden auto;

    scrollbar-color: rgb(187, 0, 0) transparent;
    scrollbar-width: thin;
    
}

@media (width < 600px){
    .appContainer{
        flex-direction: column;
        overflow: auto;
    }
    
    .appContainer:nth-child(1){
        min-width: 100vw;
        color: red;
        min-height: 80vh;
        max-height: 80vh !important;
        overflow: hidden;

    }

    .appContainer:nth-child(1)> div {
        min-height: 80vh;
    }
    
}