.goUpButton {
    position: sticky;
    bottom: 10vh;
    margin-left: 90%;

    width: 70px;
    height: 70px;

    color: #fff;
    background: #111134;
    padding: 10px 12px;
    
    border: 0;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 1s all;
}

.goUpButton:hover{
    cursor: pointer;
    background: #4747DA;

    transition: 1s all;
}

.goUpButton:active{
    background: #a0a0d5;

    transition: none;
}

.goUpButton span {
    font-size: 23px;
}

@media (width < 700px) {
    .goUpButton {
        margin-left: 88%;
    }
}
@media (width < 600px) {
    .goUpButton {
        margin-left: 85%;
    }
}

@media (width < 500px) {
    .goUpButton {
        transform: scale(0.8);
    }
}
@media (width < 400px) {
    .goUpButton {
        margin-left: 82.5%;
        transform: scale(0.75)
    }
}
@media (width < 350px) {
    .goUpButton {
        margin-left: 79%;
        transform: scale(0.70)
    }
}
@media (width < 300px) {
    .goUpButton {
        margin-left: 77%;
        transform: scale(0.65)
    }
}

@media (width < 250px) {
    .goUpButton {
        margin-left: 73%;        
    }
}

@media (width < 210px) {
    .goUpButton {
        margin-left: 70%;        
    }
}

@media (width < 195px) {
    .goUpButton {
        margin-left: 65%;        
    }
}
